@use "../../variables" as *;
@use "../../mixins.scss" as *;

.converters {
  @include flex-center;

  .field {
    @include flex-center;
    @include shadow-default;
    margin: 20px;

    select {
      background: $light-black-color;
      color: $white-color;

      width: 100px;
      height: 60px;
      padding: 14px;

      font-size: 20px;

      border-radius: 5px 0 0 5px;
      box-sizing: border-box;
      border: none;
      outline: none;
    }

    input {
      @include input-base;

      background-color: $grey-color;

      height: 60px;
      width: 250px;
      padding: 20px;
      font-size: 28px;

      border-radius: 0 5px 5px 0;
      text-align: right;
      overflow: auto;
    }
  }
}

// nav-btns
.categories {
  display: grid;
  gap: 15px;

  width: 100%;
  max-width: 320px;
  margin: 20px auto 20px;

  grid-template-columns: repeat(2, 1fr);

  button {
    @include button-base;
    @include shadow-default;

    background-color: $grey-color;
    color: $white-color;

    padding: 16px;
    font-size: 16px;

    width: 150px;
    height: 50px;

  }

  .date-btn {
    grid-column: span 2;
    justify-self: center;
  }
}