@use "../../variables" as *;
@use "../../mixins.scss" as *;

.converters {
  @include flex-center;
  width: 100%;

    .field {
      @include flex-center;
      @include shadow-default;
      margin: 20px 0;

      select {
        background: $light-black-color;
        color: $white-color;

        width: 100px;
        height: 60px;
        padding: 14px;

        font-size: 20px;

        border-radius: 5px 0 0 5px;
        box-sizing: border-box;
        border: none;
        outline: none;
      }

      input,
      .converter-result-container {
        @include input-base;
        background-color: $grey-color;

        height: 60px;
        max-width: 220px;
        width: 100%;

        padding: 20px;
        font-size: 16px;

        border-radius: 0 5px 5px 0;
        text-align: right;
        overflow: auto;

        p {
          color: $white-color;

          width: 100%;
          margin: 0;

          white-space: nowrap;
        }
      }
    }
  }

// nav-btns
.categories {
  display: grid;
  gap: 15px;

  width: 100%;
  max-width: 320px;
  margin: 20px auto 20px;

  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 390px) {
    display: flex;
    overflow-x: auto;
  }

  button {
    @include flex-center;
    @include button-base;
    @include shadow-default;

    background-color: $grey-color;
    color: $white-color;

    padding: 16px;
    font-size: 16px;
    font-weight: bold;

    width: 150px;
    height: 50px;

  }

  .date-btn {
    grid-column: span 2;
    justify-self: center;
  }
}