@use "../../variables" as *;
@use "../../mixins.scss" as *;


.date-input {
    @include flex-center;
    @include shadow-default;

    background-color: $grey-color;

    max-width: 330px;

    height: 100%;
    max-height: 200px;

    padding: 10px 12px;
    margin: 20px;
    gap: 12px;

    border-radius: 12px;

    box-sizing: border-box;

    transition: 0.5s;

    .label {
        color: $white-color;

        width: 25px;

        font-size: 20px;
        font-weight: bold;
    }

    .date-part {
        background: transparent;
        color: $white-color;

        width: 28px;

        font-size: 18px;

        border: none;
        text-align: center;

        &.year {
            width: 100%;
            max-width: 50px;
        }

        &::placeholder {
            color: $light-grey-color;
            font-weight: 400;
        }
    }

    .slash {
        color: $white-color;
        font-size: 22px;
        margin: 0 6px;
        user-select: none;
    }

    .calendar-btn {
        @include flex-center;
        @include shadow-default;

        background: $light-grey-color;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background: $light-black-color;
        }
    }

    .calendar-icon {
        color: $white-color;
        font-size: 20px;
    }
}

.date-btns {
    @include flex-center;

    .date-btn {
        @include button-base;
        @include shadow-default;

        background-color: $grey-color;
        color: $white-color;

        width: 100%;
        max-width: 150px;
        margin: 10px 15px;

        height: 50px;

        font-size: 15px;

        &:hover {
            background: $light-black-color;
        }
    }
}

.date-outputs {
    .output-div {
        @include flex-center;
        @include shadow-default;
        margin: 10px;

        .label {
            @include flex-center;

            background-color: $grey-color;
            color: $white-color;

            width: 60px;
            height: 60px;

            font-size: 25px;
            font-weight: bold;

            border-radius: 5px 0 0 5px;
        }

        .output {
            @include input-base;

            background-color: $light-grey-color;

            width: 100%;
            max-width: 270px;

            height: 60px;
            padding: 20px;

            font-size: 25px;
            font-weight: bold;

            text-align: right;

            border-radius: 0 5px 5px 0;
        }
    }

}

@media (max-width: 330px) {
    .date-input {
        margin: 5px;
        padding: 5px;

        .slash {
            margin: 0;
        }

        .date-part {
            font-size: 15px;

            &.year {
                max-width: 40px;
            }
        }

        .label {
            font-size: 18px;
        }
    }

    .date-btns {
        .date-btn {
            width: 100px;
        }
    }

}