@use "../variables" as *;

%calculator-btn-style {
  width: 100%;
  height: 50px;
  font-weight: bold;
  border-radius: 7px;
  border: 0;
  font-size: 30px;
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-extended-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  .nav-basic-btn,
  .nav-extended-btn {
    @extend %calculator-btn-style;
    width: 165px;
    height: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    background-color: $grey-color;
  }

  .nav-basic-btn {
    border-radius: 7px 0 0 7px;
  }

  .nav-extended-btn {
    border-radius: 0 7px 7px 0;
  }

  .active {
    background-color: $orange-color;
  }
}

.calculator-screen {
  width: 330px;
  height: 60px;
  background-color: $grey-color;
  margin: 15px 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;

  p {
    width: 300px;
    height: 40px;
    margin: 10px 15px;
    font-size: 35px;
    font-weight: bold;
    color: $white-color;
    text-align: right;
  }
}

.calculator-btns {
  display: flex;
  flex-direction: column;
  align-items: center;

  .calculator-basic,
  .calculator-extended {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    .basic-calculator-grid,
    .extended-calculator-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px 10px;
      width: 330px;

      .calculator-btn {
        @extend %calculator-btn-style;
        background-color: $grey-color;
      }
    }
  }

  .calculator-basic {
    .basic-calculator-grid {
      height: 310px;

      .big-bg-orange {
        display: flex;
        width: 100%;
        height: 115px;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 10px;
        grid-row: span 2;
        background-color: $orange-color;
      }

      .font-orange {
        color: $orange-color;
      }
    }
  }

  .calculator-extended {
    .extended-calculator-grid {
      height: 115px;

      .calculator-btn {
        background-color: $light-grey-color;
      }
    }
  }
}