@use "../variables" as *;
@use "../mixins.scss" as *;

%calculator-btn-style {
  @include shadow-default;
  @include flex-center;
  @include button-base;

  color: $white-color;

  width: 100%;
  height: 50px;

  font-weight: bold;
  font-size: 30px;

  border-radius: 7px;
  border: 0;
}

.basic-extended-btns {
  @include flex-center;
  margin: 20px 0;

  .nav-basic-btn,
  .nav-extended-btn {
    @extend %calculator-btn-style;
    background-color: $grey-color;

    width: 165px;
    height: 40px;

    font-size: 20px;
    letter-spacing: 1px;
  }

  .nav-basic-btn {
    border-radius: 7px 0 0 7px;
  }

  .nav-extended-btn {
    border-radius: 0 7px 7px 0;
  }
}

.calculator-screen {
  @include shadow-default;
  @include flex-center;

  background-color: $grey-color;

  width: 330px;
  max-width: 330px;
  height: 60px;
  margin: 15px 30px;
  padding: 0 10px;

  border-radius: 7px;

  box-sizing: border-box;
  overflow-y: auto;

  p {
    color: $white-color;

    width: 300px;
    margin: 0;

    font-size: 35px;
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    flex-shrink: 0;
  }
}


.calculator-btns {
  @include flex-center;
  flex-direction: column;

  .calculator-basic,
  .calculator-extended {
    @include flex-center;
    margin-bottom: 15px;

    .basic-calculator-grid,
    .extended-calculator-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 15px 10px;

      width: 330px;

      animation: opacity 1s;

      .calculator-btn {
        @extend %calculator-btn-style;
        background-color: $grey-color;
      }
    }
  }

  .calculator-basic {
    .basic-calculator-grid {
      height: 310px;

      .big-bg-orange {
        @include flex-center;
        align-items: flex-end;

        background-color: $orange-color;

        width: 100%;
        height: 115px;
        padding-bottom: 10px;

        grid-row: span 2;

        &:hover {
          background-color: $dark-orange-color;
        }
      }

      .font-orange {
        color: $orange-color !important;
      }
    }
  }

  .calculator-extended {
    .extended-calculator-grid {
      height: 115px;
    }
  }
}