@use "../variables" as *;

.converter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  display: flex;
  background: $grey-color;
  border-radius: 18px;
  overflow: hidden;
  width: 330px;
  height: 60px;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
}

.field select {
  background: $light-black-color;
  color: $white-color;
  border: none;
  padding: 14px;
  font-size: 14px;
  outline: none;
  text-align: left;
}

.field input {
  flex: 1;
  background: $grey-color;
  border: none;
  padding: 14px;
  font-size: 28px;
  color: $white-color;
  text-align: right;
  outline: none;
  text-align: right;
}

.categories {
  margin-top: 40px;
  display: grid;
  gap: 15px;
  width: 100%;
  max-width: 320px;
  margin: 40px auto 0;
  grid-template-columns: repeat(2, 1fr);

}

.categories button {
  padding: 16px;
  border-radius: 18px;
  border: none;
  background: $grey-color;
  color: $white-color;
  font-size: 16px;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}

.categories .active {
  background: $orange-color;
}

.categories #date {
  grid-column: span 2;
  justify-self: center;
}