@use "../variables" as *;

.converters {
  display: flex;
  justify-content: center;

  .field {
    display: flex;
    overflow: hidden;
    width: 330px;
    height: 60px;
    margin: 20px;
    border-radius: 5px;

    select {
      background: $light-black-color;
      color: $white-color;
      font-size: 30px;
      width: 80px;
      border: none;
      padding: 14px;
      font-size: 20px;
      outline: none;
    }

    input {
      box-sizing: border-box;
      padding: 20px;
      text-align: right;
      background: $grey-color;
      color: $white-color;
      max-width: 250px;
      border: none;
      font-size: 28px;
    }
  }

}


// nav-btns
.categories {
  display: grid;
  gap: 15px;
  width: 100%;
  max-width: 320px;
  margin: 20px auto 20px;
  grid-template-columns: repeat(2, 1fr);

  button {
    padding: 16px;
    border-radius: 18px;
    border: none;
    background: $grey-color;
    color: $white-color;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    transition: 0.3s;

  }

  button:hover {
    background-color: $light-black-color
  }

  .active {
    background: $orange-color;
  }

  .active:hover {
    background-color: $dark-orange-color;
  }

  .date-btn {
    grid-column: span 2;
    justify-self: center;
  }
}

//date-converter
.error {
    box-shadow: 0 0 10px 2px $red-color !important;
  }

.date-input {
  display: flex;
  align-items: center;
  background: $grey-color;
  border-radius: 12px;
  padding: 10px 12px;
  gap: 12px;
  width: 330px;
  height: 60px;
  margin: 20px;
  box-sizing: border-box;
  transition: 0.5s;

  .date-error {
    color: $red-color !important;
  }

  .label {
    color: $white-color;
    font-size: 20px;
    font-weight: bold;
    width: 35px;
  }

  .date-part {
    width: 35px;
    background: transparent;
    border: none;
    outline: none;
    color: $white-color;
    font-size: 22px;
    text-align: center;
    font-weight: 600;

    &.year {
      width: 60px;
    }

    &::placeholder {
      color: $light-grey-color;
      font-weight: 400;
    }
  }

  .slash {
    color: $white-color;
    font-size: 22px;
    margin: 0 6px;
    user-select: none;
  }

  .calendar-btn {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background: $light-grey-color;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: $light-black-color;
    }
  }

  .calendar-icon {
    font-size: 20px;
    color: $white-color;
  }
}

.date-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .date-btn {
    width: 150px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: $grey-color;
    color: $white-color;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      background: $light-black-color;
    }
  }
}

.date-outputs {
  .output-div {
    display: flex;
    justify-content: center;
    margin: 20px;


    .label {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;
      font-weight: bold;
      background-color: $grey-color;
      color: $white-color;
      width: 60px;
      height: 60px;
      border-radius: 5px 0 0 5px;
    }

    .output {
      color: $white-color;
      background-color: $light-grey-color;
      border: none;
      width: 270px;
      height: 60px;
      padding: 20px;
      font-size: 25px;
      font-weight: bold;
      border-radius: 0 5px 5px 0;
      box-sizing: border-box;
      text-align: right;
    }
  }

}