@use "../variables" as *;

.converters {
  display: flex;
  justify-content: center;

  .field {
    display: flex;
    overflow: hidden;
    width: 330px;
    height: 60px;
    margin: 20px;
    border-radius: 5px;

    select {
      background: $light-black-color;
      color: $white-color;
      font-size: 30px;
      width: 80px;
      border: none;
      padding: 14px;
      font-size: 20px;
      outline: none;
    }

    input {
      box-sizing: border-box; 
      padding: 20px;
      text-align: right;
      background: $grey-color;
      color: $white-color;
      max-width: 250px;
      border: none;
      font-size: 28px;
    }
  }


}



.categories {
  margin-top: 40px;
  display: grid;
  gap: 15px;
  width: 100%;
  max-width: 320px;
  margin: 40px auto 0;
  grid-template-columns: repeat(2, 1fr);

  button {
    padding: 16px;
    border-radius: 18px;
    border: none;
    background: $grey-color;
    color: $white-color;
    font-size: 16px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    transition: 0.3s;
    
  }
  button:hover{
      background-color: $light-black-color
    }
  .active {
    background: $orange-color;
  }
  .active:hover{
    background-color: $dark-orange-color;
  }

  .date-btn {
    grid-column: span 2;
    justify-self: center;
  }
}