@use "../variables" as *;
@use "../mixins" as *;

.function-main-div {
    width: 100%;

    //inputs

    h2 {
        @include flex-center;
        color: $white-color;
        margin-bottom: 20px;
    }

    .function-inputs {
        @include flex-center;
        flex-direction: column;
    }

    .form-container {
        @include flex-center;
        margin-bottom: 15px;
        width: fit-content;

        &:last-child{
            margin-bottom: 0
        }

        label {
            @include flex-center;

            background-color: $light-black-color;
            color: $white-color;

            width: 60px;
            height: 60px;

            font-size: 20px;
            font-weight: bold;

            border-radius: 5px 0 0 5px;
        }

        input {
            @include input-base;

            background-color: $grey-color;

            width: 270px;
            height: 60px;
            padding: 10px;

            font-size: 20px;

            border-radius: 0 5px 5px 0;

            text-align: right;
        }
    }

    //buttons

    .function-btns {
        @include flex-center;

        .button {
            @include button-base;

            background-color: $grey-color;
            color: $white-color;

            width: 150px;
            height: 50px;
            margin: 15px 10px;

            flex-direction: row;
        }
    }

    // results

    .results {
        margin-top: 30px;

        .result-block {
            @include flex-center;

            display: flex;

            margin: 10px auto;
            width: fit-content;

            font-size: 18px;

            label {
                @include flex-center;
                width: 60px;
                height: 50px;
                font-weight: bold;

                background-color: $light-black-color;
                color: $white-color;

                border-radius: 5px 0 0 5px;
            }
        }

        .delta-result .result-input {
            width: 100px;
        }

        /* input для результатів */
        .result-input {
            @include input-base;
            width: 270px;
            height: 50px;
            padding: 8px;

            background-color: $light-grey-color;
            color: $white-color;

            border-radius: 0 5px 5px 0;
            text-align: right;
        }

        .result-group {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .result-error {
            label {
                background-color: $red-color;
                border-radius: 5px;
            }
        }
    }
}