@use "../variables" as *;

.container{
    h2{
        color: $white-color;
        text-align: center;
    }

    input{
        text-align: right;
    }
    input::placeholder{
        font-size: 18px;
    }
    
    .form-container-a{
        display: flex;
        align-items: stretch;
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 12px;
        font-size: 18px;
    }
    label{
        background-color: $light-black-color;
        color: $white-color;
        padding: 15px;
        border-radius: 5px 0 0 5px;
    }
    #a{
        border: none;
        background-color: $grey-color;
        color: $white-color;
        padding: 8px;
        width: 270px;
        height: 35px;
        border-radius: 0 5px 5px 0;
    }
    .form-container-b{
        display: flex;
        align-items: stretch;
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 12px;
        font-size: 18px;
    }
    #b{
        border: none;
        background-color: $grey-color;
        color: $white-color;
        padding: 8px;
        width: 270px;
        height: 35px;
        border-radius: 0 5px 5px 0;
    }
    .form-container-c{
        display: flex;
        align-items: stretch;
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 20px;
        font-size: 18px;
    }
    #c{
        border: none;
        background-color: $grey-color;
        color: $white-color;
        padding: 8px;
        width: 270px;
        height: 35px;
        border-radius: 0 5px 5px 0;
    }
    button{
        display: flex;
        margin: 0 auto;
        color: $white-color;
        background-color: $grey-color;
        cursor: pointer;
        border: none;
        padding: 15px;
        border-radius: 5px;
        padding-left: 40px ;
        margin-bottom: 20px;
        width: 150px;
        height: 50px;
        font-size: 18px;
    }

     .form-result-x-less-zero{
        margin: 0 auto;
        width: fit-content;
        margin-top: 50px;
        display: none;
        background-color: $red-color;
        color: $white-color;
        border-radius: 5px 5px 5px 5px;
        font-size: 18px;
    }

     .lessZero{
        background-color: $red-color;
        color: $white-color;
        border-radius: 5px;
     }

    .form-result-x0{
        display: flex;
        align-items: stretch;
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 20px;
        display: none;
        font-size: 18px;
    }
    #zero{
        border: none;
        background-color: $light-grey-color;
        color: $white-color;
        padding: 8px;
        width: 270px;
        height: 35px;
        border-radius: 0 5px 5px 0;
    }

    .form-result-x1{
        display: flex;
        align-items: stretch;
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 12px;
        font-size: 18px;
    }
    #one{
        border: none;
        background-color: $light-grey-color;
        color: $white-color;
        padding: 8px;
        width: 270px;
        height: 35px;
        border-radius: 0 5px 5px 0;
    }

    .form-result-x2{
        display: flex;
        align-items: stretch;
        margin: 0 auto;
        width: fit-content;
        margin-bottom: 20px;
        font-size: 18px;
    }
    #two{
        border: none;
        background-color: $light-grey-color;
        color: $white-color;
        padding: 8px;
        width: 270px;
        height: 35px;
        border-radius: 0 5px 5px 0;
    }
    .form-result-x1-x2{
        display: none;
        flex-direction: column;
    }

}

