@use "variables" as *;

body{
    margin: 0;
    background-color: $black-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;

    .phone-screen{
        width: 390px;
        height: 844px;
        background-color: $white-color;

        main{
            width: 390px;
            height: 630px;
            display: flow-root;
            background-color: $dark-grey-color;
        }
    }

    .hidden{
        display: none;
    }
}