@use "variables" as *;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: $black-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.phone-screen {
  width: 390px;
  height: 844px;
  background-color: $white-color;

  main {
    width: 100%;
    height: 630px;
    display: flow-root;
    background-color: $dark-grey-color;
    overflow-y: auto;
  }
}

.hidden {
  display: none !important;
}

.box-shadow{
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
}