@use "variables" as *;
@use "animations" as *;
@use "mixins" as *;

body {
  @include flex-center;

  margin: 0;

  background-color: $black-color;

  font-family: "Roboto", sans-serif;

  animation: opacity 0.5s;

  .phone-screen {
    background-color: $white-color;

    width: 390px;
    height: 844px;

    main {
      background-color: $dark-grey-color;

      display: flow-root;

      overflow-y: auto;

      width: 100%;
      height: 630px;
    }
  }
}

.active, .primary {
  background-color: $orange-color !important;

  &:hover {
    background-color: $dark-orange-color !important;
  }
}

.hidden {
  display: none !important;
}

.box-error {
  box-shadow: 0 0 10px 2px $red-color !important;
}

.text-error {
  color: $red-color !important;
}