@use "variables" as *;
@use "animations" as *;
@use "mixins" as *;

body {
  @include flex-center;

  touch-action: manipulation;

  height: 100%;
  margin: 0;

  flex: 1;
  overflow-y: auto;

  background-color: $black-color;

  font-family: "Roboto", sans-serif;

  animation: opacity 0.5s;
  
  .phone-screen {
    background-color: $dark-grey-color;

    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 390px;

    max-height: 844px;
    height: 100dvh;

    margin: 0 auto;
    main {
      background-color: $dark-grey-color;

      display: flow-root;

      overflow-y: auto;

      height: 630px;
    }
  }
}


.active, .primary {
  background-color: $orange-color !important;

  &:hover {
    background-color: $dark-orange-color !important;
  }
}


.hidden {
  display: none !important;
}

.box-error {
  box-shadow: 0 0 10px 2px $red-color !important;
}

.text-error {
  color: $red-color !important;
}