@use "variables" as *;
@use "mixins" as *;

.site-footer {
    background-color: $very-dark-color;

    height: 95px;

    flex-shrink: 0;

    .bottom-nav {
        display: flex;
        flex-direction: row;

        a {
            @include flex-center;

            background-color: $very-dark-color;
            color: $white-color;

            width: 130px;
            height: 70px;

            font-size: 30px;

            flex-direction: column;
            text-decoration: none;

            transition: 0.2s;

            &:hover {
                background-color: $light-black-color;
            }
        }

        p{
            font-size: 15px;
            margin: 5px 0 0 0;
        }

        .active-nav-item {
            color: $orange-color;
        }
    }

}