@use "variables" as *;

.site-footer{
    width: 390px;
    height: 95px;
    background-color: $very-dark-color;

    .bottom-nav{
        display: flex;
        flex-direction: row;
        a{
            width: 130px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: $very-dark-color;
            color: $white-color;
            font-size: 30px;
            text-decoration: none;
        }
        p{
            font-size: 15px;
            margin: 5px 0 0 0;
        }
        .active{
                color: $orange-color;
        }
    }

}