@use "variables" as *;

.site-header{
    width: 390px;
    height: 120px;
    background-color: $grey-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;

    .site-logo{
        font-size: 28px;
        margin: 50px 0 0 0;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .page-title{
        margin: 5px 0 0 0;
        font-weight: normal;
        font-size: 14px;
    }
}