@use "variables" as *;
@use "mixins" as *;

.site-header{
    @include flex-center;
    flex-direction: column;

    background-color: $grey-color;
    color: $white-color;

    width: 390px;
    height: 120px;
    
    .site-logo{
        margin: 50px 0 0 0;
        
        font-weight: bold;
        font-size: 28px;
        letter-spacing: 2px;
    }

    .page-title{
        margin: 5px 0 0 0;
        
        font-weight: normal;
        font-size: 14px;
    }
}