$very-dark-color: #1D1D1D;
$dark-grey-color: #272626;
$grey-color: #3C3C3C;
$light-grey-color: #494949;
$black-color: #000000;
$white-color: #FFFFFF;
$orange-color: #FF6200;
$dark-orange-color: #9b3b00;
$light-black-color: #2F2F2F;
$light-grey-color: #747474;
$red-color: #FF5A5A;
