$black-color: #000000;
$light-black-color: #2F2F2F;

$very-dark-color: #1D1D1D;

$dark-grey-color: #272626;
$grey-color: #3C3C3C;
$light-grey-color: #747474;

$orange-color: #FF6200;
$dark-orange-color: #9B3B00;

$red-color: #FF5A5A;

$white-color: #FFFFFF;
