@use "variables" as *;

@mixin shadow-default {
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin input-base {
  color: $white-color;

  border: none;
  box-sizing: border-box;

  transition: 0.5s;

  &:focus{
    box-shadow: 0px 0px 5px 2px $white-color;
  }
}

@mixin button-base {
  font-weight: 500;

  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: 0.2s;

  &:hover {
    background-color: $light-black-color;
  }

  &:active {
    scale: 0.9;
  }
}