<footer class="site-footer box-shadow">
    <nav class="bottom-nav">
        <a href="../calculator-pages/calculator-page.html" data-link="calculator-page" class="nav-btn active-nav-item"><i class="fa-solid fa-calculator"></i><p>Kalkulator</p></a>
        <a href="../converter-pages/converter-page.html" data-link="converter-page" class="nav-btn"><i class="fa-solid fa-right-left"></i><p>Konwerter</p></a>
        <a href="../function-pages/function-page.html" data-link="function-page" class="nav-btn"><i class="fa-solid fa-f"></i><p>Funkcja</p></a>
    </nav>
</footer>